<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>BankingApplication</display-name>
  <welcome-file-list>
    <welcome-file>welcome</welcome-file>
    <welcome-file>Register.jsp</welcome-file>
    <welcome-file>HomePage.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>firstPage</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>firstPage</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>secondPage</servlet-name>
    <jsp-file>/Register.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>secondPage</servlet-name>
    <url-pattern>/signIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>thirdPage</servlet-name>
    <jsp-file>/HomePage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>thirdPage</servlet-name>
    <url-pattern>/homepage</url-pattern>
  </servlet-mapping>
</web-app>